.section {
  margin-bottom: 60px;
}

.container {
  background: var(--theme-primary-dark);
  border-radius: 20px;
  color: #fff;
  align-items: flex-end;
}

.section .container p {
  font-size: 18px;
  line-height: 140%;
}
.section .container p span {
  font-weight: 800;
}
.container h3 {
  color: #fff;
}

.textContainer {
  padding: 50px;
  width: 58%;
}

.imgContainer {
  padding-right: 85px;
}

@media screen and (max-width: 991px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  .textContainer {
    padding: 40px 15px;
    width: 100%;
  }
  .imgContainer {
    padding-right: 0;
  }
  .textContainer .primaryButton {
    align-self: center;
  }
}
