.card,
.card:active,
.card:visited {
  color: var(--para-color);
  --price-color: #3fc89e !important;
  width: 100%;
  height: 660px;
  margin: 0 auto;
  padding: 16px 16px 20px;
  border-radius: 40px;
}

.card img {
  width: 325px;
  height: 440px;
}

.card h2 {
  margin-bottom: 10px;
}
.card h2 span {
  font-size: 16px;
}

.card h2 svg {
  font-size: 14px;
  line-height: 100%;
  transform: translateY(3px);
}

.card .imgContainer,
.card .imgContainer img {
  border-radius: 25px;
  width: fit-content;
}

.card .textContainer .para {
  font-size: 14px;
  line-height: 130%;
  font-weight: 500;
  margin-bottom: 5px;
}

.priceContainer {
  display: flex;
  align-items: center;
}

.card .textContainer .priceContainer p {
  font-size: 20px;
  font-weight: 700;
  width: fit-content;
}

.card .textContainer .priceContainer .oldPrice div {
  position: absolute;
  width: 100%;
  height: 2px;
  top: 45%;
  background: #bbb;
}

.card .textContainer .price {
  color: #3a3a3a;
  font-weight: 700 !important;
  font-size: 30px !important;
}

.card .textContainer p.totalRatingsPara {
  font-size: 14px;
}

.card .textContainer .ratingsContainer {
  font-size: 12px;
  margin-bottom: 10px;
}

.card .textContainer p.ratingPara {
  font-size: 14px;
  font-weight: 600;
  transform: translateY(2px);
  color: var(--theme-primary);
}

.ratings {
  color: #ffa033;
}

@media screen and (min-width: 430px) {
  .card {
    width: 364px;
  }
  .card h2 span {
    font-size: 20px;
  }
  .card h2 svg {
    font-size: 20px;
    transform: translateY(5px);
  }
  .card .textContainer .para {
    font-size: 16px;
  }
}
