.wrapper {
}

.input {
  border-radius: 12px 0 0 12px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-right: 0;
  color: var(--light-color);
  padding: 10px 15px;
  width: 100%;
  line-height: 100%;
}

.input:active,
.input:focus {
  border-color: rgba(255, 255, 255, 0.8);
}

.input::placeholder {
  color: rgba(255, 255, 255, 0.4);
  opacity: 1; /* Firefox */
}

.input::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: rgba(255, 255, 255, 0.4);
}

.button {
  border-radius: 0px 12px 12px 0px;
  background: #fff;
  color: #000;
  text-wrap: nowrap;
  border: none;
  padding: 0px 14px;
  min-width: fit-content;
}

.button:hover span small,
.button span small {
  font-weight: 400;
  font-size: 14px;
  padding: 13px 0;
  color: #000;
}

.button:hover {
  transform: none;
  box-shadow: none;
  color: #000;
}
