.transparentHeader {
  background: transparent !important;
  filter: none;
}

.header {
  text-wrap: nowrap;
  background: #fff;
  transition: background 7000 linear;
  filter: drop-shadow(0 2px 6px rgba(0, 0, 0, 0.2));
}

.wrapper {
  font-size: 18px;
  font-weight: 400;
  margin: 0 auto;
}

.wrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.navLink {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 4px;
  transition: opacity 0.3s ease;
}

.wrapper a {
  color: var(--theme-primary);
}

.wrapper .navLink:hover {
  opacity: 0.6;
}

.imgContainer {
  width: 263px;
}

.imgContainer img {
  height: 100%;
  width: 100%;
}

.nav {
  display: none;
  gap: 80px;
}

.mobNav {
  padding: 20px 0;
}

.mobNav .nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.activeLink a {
  color: var(--primary-text-color);
}

.menuBtn {
  display: flex;
  flex-direction: column;
  gap: 2px;
  cursor: pointer;
  padding: 6px;
  border-radius: 8px;
}

.menuBar {
  height: 3px;
  width: 20px;
  background: var(--default-text-color);
  border-radius: 10px;
  position: relative;
  transition: all 0.3s linear;
}

.navOpen .menuBar1 {
  transform: rotate(45deg);
  top: 5px;
  transition-delay: 0.1s;
}
.navOpen .menuBar2 {
  width: 0;
}
.navOpen .menuBar3 {
  transform: rotate(-45deg);
  bottom: 5px;
  transition-delay: 0.1s;
}

.navLink {
  display: flex;
}

.joinPrompt {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  background: var(--theme-primary);
  padding: 10px 0;
}

.joinPrompt img {
  cursor: pointer;
}

@media screen and (min-width: 330px) {
  .mobNav .nav {
    flex-direction: row;
  }
}

@media screen and (min-width: 990px) {
  .nav {
    display: flex;
  }
  .menuBtn {
    display: none;
  }
  .imgContainer {
    width: 240px;
  }
}
