.btn {
  background: var(--theme-primary);
  border: 1px solid #fff;
  color: #fff;
  font-weight: 600;
  border-radius: 8px;
  padding: 7.5px;
  font-size: 13px;
}

.btn:hover {
  color: #fff;
  opacity: 0.85;
}
