.section {
  margin-bottom: 100px;
}

.container {
  padding: 50px 50px 0;
  background: var(--theme-primary-dark);
  border-radius: 20px;
  color: #fff;
}

.container h3 {
  color: #fff;
  font-size: 36px;
  width: 100%;
}

.container h4 {
  color: #fff;
  font-size: 28px;
  font-weight: 600;
  width: 100%;
}

.imgContainer {
  width: 25%;
}
.textContainer {
  padding-right: 60px;
  padding-bottom: 40px;
  width: 75%;
}

.imgContainer img {
  width: 220px;
  height: 220px;
}

.btnText {
  padding: 0 20px;
}

@media screen and (max-width: 991px) {
  .container {
    flex-direction: column-reverse;
    align-items: center;
    gap: 40px;
    padding: 40px 15px 0;
  }
  .textContainer {
    padding: 0;
    width: 100%;
  }
  .imgContainer {
    width: fit-content;
  }
}
