.btn {
  background: var(--theme-primary);
  border-radius: 10px;
  padding: 0 26px;
  letter-spacing: -0.429px;
}

.btn span small {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 0;
}

.btn,
.btn p,
.btn span,
.btn strong,
.btn:hover {
  color: #fff !important;
  font-weight: 800 !important;
}

.btn,
.btn p {
  font-size: 17px !important;
  text-wrap: nowrap !important;
}

.btn svg {
  transform: translateY(1px);
  font-size: 18px;
}

.lightBtn {
  background: #fff;
}

.lightBtn p,
.lightBtn span small,
.lightBtn:hover span small {
  color: var(--theme-primary) !important;
  font-weight: 800 !important;
  font-size: 16px;
}
