.btn {
  background: #fff;
  border-radius: 8px;
  padding: 0 22px;
  width: fit-content;
  border-radius: 32px;
}

.btn span small {
  color: #100;
  font-weight: 500;
  font-size: 22px;
  padding: 10px 0;
}

.btn:hover span small {
  color: #100;
}
