.section {
  margin-bottom: 50px;
}
.section h1,
.section h2,
.section p {
  text-align: center;
}

.section h2 {
  font-weight: 600;
}
.section p {
  width: 80%;
  margin: 0 auto;
  color: #667085;
  font-size: 16px;
}
