.footer {
  background: var(--theme-primary-dark);
}

.wrapper {
  padding: 70px 0;
}

.mainContainer {
  gap: 80px;
}

.footer .wrapper p,
.footer .wrapper a {
  color: #fff;
  font-size: 14px;
}

.footer .wrapper a:hover {
  opacity: 0.6;
}

.footerSectionContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
  max-width: 290px;
}

.footer .wrapper .footerSectionContainer h1 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 6px;
}

.copyrightContainer {
  gap: 250px;
  color: #fff;
  text-align: center;
  padding-right: 60px;
}

.copyrightContainer h2 {
  color: #fff !important;
  font-size: 20px;
  margin-bottom: 8px;
}
.copyrightContainer p {
  color: #fff !important;
  font-size: 16px !important;
  font-weight: 600;
}

.copyrightContainer a {
  color: #fff !important;
  font-size: 26px;
}

.footer .wrapper .copyrightContainer,
.footer .wrapper .copyrightContainer p,
.footer .wrapper .copyrightContainer a {
  color: #9ba2b3;
}

.copyrightContainer .socialIcons a {
  font-size: 24px;
}

.badge {
  color: var(--default-text-color);
  background: #fff;
  border-radius: 12px;
  font-size: 10px;
  font-weight: 600;
  padding: 1px 6px;
}

.footerImgSection {
  width: 100%;
  max-width: 273px;
}
.footerImgSection p {
  text-align: center;
  font-weight: 500;
  font-size: 13px !important;
}

.subscribeContainer p {
  font-size: 12px !important;
}

.footer .wrapper .footerSectionContainer.subscribeContainer h1 {
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .wrapper {
    padding: 40px 20px;
  }
  .mainContainer {
    flex-wrap: wrap;
  }
  .footerImgSection {
    width: 100%;
    max-width: 100%;
  }
  .footerImgSection img {
    width: 230px;
  }
  .copyrightContainer {
    gap: 20px;
    justify-content: space-between !important;
    padding: 0;
  }
  .socialIcons {
    width: fit-content;
    text-wrap: nowrap;
    padding: 0;
  }
}

@media screen and (max-width: 710px) {
  .copyrightContainer {
    flex-direction: column-reverse !important;
    align-items: center !important;
    gap: 30px;
  }
  .copyrightContainer p {
    text-align: center !important;
  }
}
